.dynamic-actividaddiaria_set ul,
.dynamic-actividaddiaria_set li {
    display: inline;
}

.dynamic-actividaddiaria_set .checkbox-row {
    display: inline;
}

.dynamic-actividaddiaria_set form .aligned ul {
    margin-left: 0;
}

.dynamic-actividaddiaria_set .form-row {
    display: inline-block;
}
